<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="Project Node">
  <meta name="description" content="All My Project in Node JS">
  <title><%= hal %> | KERELKA</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/animate.min.css">
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/logos/logo-96x96.png">
  <meta name="theme-color" content="#ffd82c">
</head>
<body>
  <div id="page">
    <div id="side-nav">
      <div class="container">
        <div class="logo">
          <a href="/">
            <img src="/images/logos/logo-144x144.png" alt="Logo">
            <h1>ERELKA</h1>
          </a>
        </div>
        <div class="nav">
          <ul>
            <li><a href="/dashboard" class="active"><i class="fas fa-chart-line"></i>Dashboard</a></li>
            <li>Pages:</li>
            <li>
              <a href="/"><i class="fas fa-home"></i>Home</a>
            </li>
            <li><a href="/blogs"><i class="fas fa-blog"></i>Blogs</a></li>
            <li><a href="/projects"><i class="fas fa-project-diagram"></i>Projects</a></li>
            <li>Blog Utility:</li>
            <li><a href="/dashboard/listpost"><i class="fas fa-tasks"></i>List Post</a></li>
            <li><a href="/dashboard/newpost"><i class="fas fa-plus-square"></i>Add New Post</a></li>
            <li>Projects Utility:</li>
            <li><a href="#"><i class="fas fa-tasks"></i>List Post</a></li>
            <li><a href="#"><i class="fas fa-plus-square"></i>Add New Post</a></li>
            <li>Utility:</li>
            <li><a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="right-column">
      <div class="container">
        <div class="top-nav">
          <div class="notification">
            <div class="notif" id="notif">
              <i class="fas fa-bell"></i>
              <span class='badge'>5</span>
              <div class="thumb">
                <div class="style-dot"></div>
                <ul>
                  <li>
                    <a href="/butuh"><span class="bold">Add Post</span> - Adding new post<br><span class="second">Date: 21 July 2021 08:07:22</span></a>
                  </li>
                  <li>
                    <a href="/butuh"><span class="bold">Add Post</span> - Adding new post<br><span class="second">Date: 21 July 2021 08:07:22</span></a>
                  </li>
                  <li>
                    <a href="/butuh"><span class="bold">Add Post</span> - Adding new post<br><span class="second">Date: 21 July 2021 08:07:22</span></a>
                  </li>
                  <li>
                    <a href="/butuh"><span class="bold">Add Post</span> - Adding new post<br><span class="second">Date: 21 July 2021 08:07:22</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="message" id="message">
              <i class="fas fa-envelope"></i>
              <span class="badge">0</span>
              <div class="thumb">
                <div class="style-dot"></div>
                <ul>
                  <li><a href="#">There's no message</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="useremail">
            <p><%= useremail %></p>
            <div class="img-user">
              <i class="fas fa-user"></i>
            </div>
          </div>
        </div>
        <% if(hal == 'Dashboard') { %>
          <div class="content" id="dashboard">
            <div class="pages">
              <div class="card">
                <h3>Homepage</h3>
                <p><i class="fas fa-eye"></i> <span class="count"><%= viewData.homeView %></span> Views</p>
              </div>
              <div class="card">
                <h3>Blogs</h3>
                <p><i class="fas fa-eye"></i> <span class="count">102439</span> Views</p>
              </div>
              <div class="card">
                <h3>Projects</h3>
                <p><i class="fas fa-eye"></i> <span class="count">29300</span> Views</p>
              </div>
              <div class="card">
                <h3>Post</h3>
                <p><i class="fas fa-tasks"></i> <span class="count"><%= viewData.postPublish %></span> Published</p>
              </div>
              <div class="card">
                <h3>Post</h3>
                <p><i class="fas fa-tasks"></i> <span class="count"><%= viewData.postRequest %></span> Request</p>
              </div>
              <div class="card">
                <h3>Post</h3>
                <p><i class="fas fa-tasks"></i> <span class="count"><%= viewData.postDeleted %></span> Deleted</p>
              </div>
            </div>
            <div class="activities">
              <div class="post">
                <p><i class="fas fa-check"></i> Last Post</p>
                <ul>
                  <% if(typeof lastPost != 'undefined') { %>
                    <% lastPost.forEach((post) => { %>
                      <li>
                        <div class="author">
                          <div class="img-user">
                            <i class="fas fa-user"></i>
                          </div>
                          <p><%= post.author %></p>
                        </div>
                        <div class="info">
                          <p class="post-title"><%= post.title %></p>
                          <p class="post-desc"><%= post.description %></p>
                          <p class="date">Created Date: <%= post.date.toLocaleString() %></p>
                        </div>
                        <div class="action">
                          <p><%= post.status %></p>
                        </div>
                      </li>
                    <% }) %>
                  <% } %>
                </ul>
              </div>
              <div class="popular-post">
                <p><i class="fas fa-award"></i> Popular Post</p>
                <ul>
                  <li>
                    <p class="no">1</p>
                    <p>Cara mendapatkan uang</p>
                  </li>
                  <li>
                    <p class="no">2</p>
                    <p>Cara belajar Pemprograman</p>
                  </li>
                  <li>
                    <p class="no">3</p>
                    <p>5 Etika Pemprograman</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        <% }else if(hal == 'Newpost') { %>
          <div class="content" id="newpost">
            <div class="container">
              <h2>New Post</h2>
              <% if(flash){ %>
                <% if(flash.type == 'danger') { %>
                  <div class="alert alert-danger">
                <% } else if(flash.type=='success') {%>
                  <div class="alert alert-success">
                <% } else { %>
                  <div class="alert alert-info">
                <% } %>
                    <p><span class="bold"><%= flash.intro %></span> <%=flash.info %></p>
                  </div>
              <% } %>
              <form action="/dashboard/newpost" class="animate__animated animate__fadeInUp" method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="title">Title</label>
                  <% if(typeof prevData === "undefined") { %>
                  <input type="text" name="title" id="title" placeholder="Title pos" autocomplete="off" required>
                  <% }else{ %>
                  <input type="text" name="title" id="title" placeholder="Title pos" autocomplete="off" value="<%= prevData.title %>" required>
                  <% } %>
                </div>
                <div class="form-group">
                  <label for="author">Author</label>
                  <% if(typeof prevData === "undefined") { %>
                  <input type="text" name="author" id="author" placeholder="Author" required>
                  <% }else{ %>
                  <input type="text" name="author" id="author" placeholder="Author" value="<%= prevData.author %>" required>
                  <% } %>
                </div>
                <div class="form-group">
                  <label for="simple_desc">Description</label>
                  <% if(typeof prevData === "undefined") { %>
                  <input type="text" name="simple_desc" id="simple_desc" autocomplete="off" required placeholder="Simple description">
                  <% }else{ %>
                  <input type="text" name="simple_desc" id="simple_desc" placeholder="Description" value="<%= prevData.desc %>" required placeholder="Simple description">
                  <% } %>
                </div>
                <div class="form-group">
                  <label for="thumbnail">Thumbnail <span class="second">(max: 2mb)</span></label>
                  <input type="file" name="thumbnail" id="thumbnail" required>
                </div>
                <div class="form-group">
                  <label for="body">Body</label>
                  <% if(typeof prevData === "undefined") { %>
                  <textarea name="body" id="body"></textarea>
                  <% }else{ %>
                  <textarea name="body" id="body"><%= prevData.body %></textarea>
                  <% } %>
                </div>
                <div class="form-group">
                  <label for="category">Category</label>
                  <% if(typeof prevData === "undefined") { %>
                  <input type="text" name="category" id="category" required placeholder="Category1 category2 category3 ...">
                  <% }else{ %>
                  <input type="text" name="category" id="category" value="<%= prevData.category %>" required placeholder="Category1,category2,...">
                  <% } %>
                </div>
                <div class="form-group">
                  <label for=""></label>
                  <button type="submit" class="btn btn-submit">Save</button>
                </div>
              </form>
            </div>
          </div>
        <% }else{ %>
          <div class="content" id="listpost">
            <div class="container">
              <h2>BLOGS</h2>
              <div class="datas">
                <form action="/dashboard/listpost" method="GET">
                  <div class="form-group">
                    <input type="search" autocomplete="off" name="search" id="search" placeholder="search">
                    <button class="btn btn-search" type='submit'><i class="fas fa-search"></i></button>
                  </div>
                </form>
                <div class="list-data">
                  <% if(data == false) { %>
                    <p>No Data Found</p>
                  <% }else{ %>
                  <% data.forEach((post) => { %>
                    <div class="card animate__animated animate__fadeIn">
                      <div class="images">
                        <img src="/<%= post.thumbnail %>" alt="Thumbnail">
                      </div>
                      <div class="info">
                        <p>Author: <%= post.author %></p>
                        <p>Created Date: <%= post.date.toLocaleString() %></p>
                        <div class="info-detail">
                          <p class="info-title"><%= post.title %></p>
                          <p><%= post.description %></p>
                          <form action="/dashboard/changestatus" method="POST">
                            <input type="hidden" name="id" value="<%= post._id %>">
                            <select name="status" id="status" onchange="this.form.submit()">
                              <% if(post.status == 'request') { %>
                                <option value="request" selected>Request</option>
                                <option value="publish">Publish</option>
                                <option value="deleted">Deleted</option>
                              <% }else if(post.status == 'publish'){ %>
                                <option value="request">Request</option>
                                <option value="publish" selected>Publish</option>
                                <option value="deleted">Deleted</option>
                              <% }else{ %>
                                <option value="request">Request</option>
                                <option value="publish">Publish</option>
                                <option value="deleted" selected>Deleted</option>
                              <% } %>
                            </select>
                          </form>
                          <a class="btn-view" href="/blogs/<%= post.slug %>">View Post</a>
                        </div>
                      </div>
                    </div>
                  <% }) %>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        <% } %>

      </div>
    
    
    </div>
  </div>
  <img src="images" alt="">

  <!-- js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdn.tiny.cloud/1/cn71hikirimmi7ykg351dc1zgaufo2xyurd0a09a1xgf2m41/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="/js/dashboard.js"></script>
</body>
</html>